@model ShoppingCart

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid">
    <form method="post">
        <input hidden asp-for="ProductId" />
        <div class="card border-0 container pt-4">
            <div class="card-header rounded bg-primary text-light row ">
                <div class="col-12 col-md-6">
                    <h1>@Model.Product.Name</h1>
                </div>
                <div class="col-12 col-md-6 text-end pt-4">
                    <span class="badge bg-info pt-2" style="height:30px;">@Model.Product.PackagingType.Name</span>
                    <span class="badge bg-warning pt-2" style="height:30px;">@Model.Product.Category.Name</span>
                </div>
            </div>
            <div class="card-body row container">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <div class="row text-center">
                                <div class="p-1 col-md-2 col-sm-5 border-bottom">
                                    Quantity
                                </div>
                                <div class="p-1 col-md-2 col-sm-5 border-bottom">
                                    @Model.Product.GetPackagingTypeWithQuantityUnit()
                                </div>
                                
                            </div>
                            <div class="row text-center py-2 text-secondary" style="font-weight:bold">
                                <div class="p-1 col-md-2 col-sm-5 border-bottom">
                                    Price
                                </div>
                                <div class="p-1 col-md-3 col-sm-5 border-bottom">
                                    @Model.Product.Price.ToString("c") per  @Model.Product.GetPackagingTypeWithQuantityUnit()
                                </div>               
                            </div>
                            <div class="row">
                                <div class="py-3 ">
                                    <t class="text-info">@Model.Product.Description</t>
                                </div>
                            </div>
                            <div class="row py-4">
                                <div class="col-md-2 col-sm-5 text-primary"><h4>Count</h4></div>
                                <div class="col-md-2 col-sm-5"><input id="total" min="1" asp-for="Count" class="form-control" /></div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-md-2 col-sm-5 text-primary">Total</div>
                                <div id="totalCount" class="col-md-2 col-sm-5 ps-4">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1 text-center">
                            <img src="@Model.Product.ImageUrl" width="100%" class="rounded" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <button class="btn btn-outline-dark form-control " style="height:50px;" asp-action="Index">
                            Back to List
                        </button>
                    </div>
                    @if(Model.Id == 0)
                    {
                        <div class="col-12 col-md-6 pb-1">
                            <button type="submit" value="Add to Cart" class="btn btn-success btn-primary form-control" style="height:50px;">
                                Add to Cart</button>
                        </div>
                    }else{
                        <div class="col-12 col-md-6 pb-1">
                            <button type="submit" value="Add to Cart" class="btn btn-success btn-primary form-control" style="height:50px;">
                                Update Count
                            </button>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script asp-append-version="true">
        $(document).ready(function () {
            var interval;

            updateTotalCount();
            
            $("#total").mousedown(function () {
                interval = setInterval(function () {
                    updateTotalCount();
                }, 100);
            });

            $("#total").mouseup(function () {
                updateTotalCount();
                clearInterval(interval);
            });
        });

        function updateTotalCount(){
            var newValue = $("#total").val();
            $("#totalCount").text((@Model.Product.PackagingType.Weight * newValue).toFixed(2) + " kg");
        }
    </script>
}



