@model IEnumerable<Product>

<div class="row py-3 px-5 col-xl-11 mx-auto ">
    @foreach (var product in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-10 rounded">
            <div class="row p-2">
                <div class="col-12 pb-1">
                    <div class="card border-0 pb-1">
                        <div class="mx-auto p-1 border border-2 rounded-3 card-container">
                            <div class="card-body">
                                    <img src="@product.ImageUrl" class="card-img-top mx-auto rounded" />
                                <div>
                                    <p class="card-title h5 text-primary">@product.Name</p>
                                </div>
                                <div>
                                    <p class="card-text">
                                        Price: <b>$@product.Price.ToString("0.00")</b>
                                        for @product.GetPackagingTypeWithQuantityUnit()
                                    </p>
                                </div>
                                <div>
                                    <small>Price for 1kg: @product.GetPriceFor1kg().ToString("0.00")$</small>
                                </div>
                            </div>
                            <div class="mx-auto pb-1">
                                <a asp-action="Details" class="btn btn-primary form-control"
                                asp-route-productId="@product.Id">
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>